html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: rgb(123, 106, 106);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.70;
    width: 100%;
}

.pimg1 {
    background: url("./img/image1.jpg");
    min-height: 100%;
}

.pimg2 {
    background: url("./img/image2.jpg");
    min-height: 400px;
}

.pimg3 {
    background: url("./img/image3.jpg");
    min-height: 400px;
}

section {
    padding: 50px 80px;
}